/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

input {
  outline: none;
  border: none;
}

.navbar-brand-img:hover {
  opacity: 90%;
}

/* Use classes for elements repeated on the page */
.card-prod {
  transition: all 0.5s ease;
}

.card-prod:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  transition: all 0.4s ease;
}

.category {
  transition: all 0.5s ease;
}

.category:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  transition: all 0.4s ease;
}

/* Contact Page Styles */
#text-main {
  color: white;
  font-family: sans-serif;
  padding: 135px;
}

.label-input100 {
  font-family: Montserrat-SemiBold;
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.input100 {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 15px;
}

textarea.input100 {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
  outline: none;
  border: none;
}

.wrap-contact100 {
  background-color: rgb(25, 27, 28);
  max-width: 920px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 90px;
  margin: 0 auto;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.ep {
  display: flex;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.input100 {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .remove-on-small {
    display: none !important;
  }.card-prod {
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .remove-on-medium {
    display: none !important;
  }

  .center-on-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}